body {
    margin: 20px auto;
}

.intro {
    margin: auto;
    width: 80%;
    height: 100vh;
}

.projects {
    width: auto;
    height: auto;
    margin: auto;
}

.project-preview {
    width: 40%;
    height: auto;
}

iframe {
    width: 100%;
    height: 80%;
    border: 0;
}

a {
    text-decoration: none;
}

.contact-form {
    margin: auto;
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 20px;
}