:root {
    --back-color-light: #EAF1F7;
    --back-color-dark: #376B98;
    --intro-color: #1D3850;
    --text-color-light: white;
    --text-color-dark: black;
}

body {
    background-color: var(--back-color-light)!important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.intro {
    height: 100vh;
    width: 100vw;
    padding: 0;
}

canvas {
    width: 100%;
    height: 100%;
}

.bio {
    margin: 80px auto 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.bio .text-box {
    border: 4px solid rgb(0, 0, 0, .2);
    background-color: var(--back-color-dark);
    width: 60vw;
    max-width: 800px;
    height: auto;
    box-shadow: 2px 2px rgb(0, 0, 0, .25);
}

.bio .text-box p {
    padding-left: 5px;
    padding-right: 5px;
    color: var(--text-color-light);
    font-size: 18px;
}

.projects {
    width: auto;
    height: auto;
    margin: auto;
}

.projects h2 {
    width: 100%;
    text-align: center;
    color: var(--text-color-light);
    background-color: var(--back-color-dark);
}

.projects h4 {
    text-align: center;
    color: var(--text-color-dark);
}

.projects p {
    color: var(--text-color-dark);
}

.projects #comProject {
    margin: auto;
    width: 60vw;
    max-width: 800px;
}

.projects .container-projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

@supports not (-ms-ime-align: auto) {
    .projects .container-projects {
      justify-content: space-evenly;
      margin-left: 0;
      margin-right: 0;
    }
  }

.project-preview {
    width: 45%;
    height: auto;
    text-align: center;
    padding: 30px 0px;
}


iframe {
    width: 100%;
    height: 80%;
    border: 2px solid var(--back-color-dark);
}

img {
    width: 100%;
    height: 80%;
    border: 2px solid var(--back-color-dark);
    margin-bottom: 5px;
}

.container-projects .project-preview {
    height: 50vh;
}

.link-1 {
    background-image: url("./tip_app.png");
    background-color: hsl(185, 41%, 84%);
}

.link-2 {
    background-image: url("./message_board.png");
    background-size: cover;
}

.link-3 {
    background-image: url("./choropleth.PNG");
}

.link-4 {
    background-image: url("./cat_dog.png");
    background-color: white;
}

.link-preview {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid var(--back-color-dark);
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.link-preview .btn {
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
    color: var(--text-color-light);
    background-color: var(--back-color-dark);
}


.link-preview:hover > .btn {
    opacity: 1;
}

.links {
    margin: auto;
    width: 45%;
    max-width: 500px;
    height: auto;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 20px;
}

.links-header {
    color: var(--text-color-light);
    background-color: var(--back-color-dark);
    text-align: center;
}

.links a {
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}

.links a:hover {
    background-color: var(--back-color-dark);
    color: var(--text-color-light);
    text-decoration: none;
}

.links a svg {
    width: 1em;
    height: 1em;
}

.copyright {
    color: var(--text-color-dark);
    opacity: 50%;
}

@media screen and (max-width: 1000px) {
    .projects .container-projects {
        flex-direction: column;
    }
    .project-preview {
        width: 80%;
    }
    .column {
        width: 80%;
    }
}